{% extends "index.html" %}
{% load i18n %}

{% block Headline %}Activation failed{% endblock %}

{% block Content %}
<p>Your account was not activated.
   You may want to contact the admin.
</p>
<p>Following error ocured:\n
{{activation_error.message}}
</p>
{% endblock %}

