{% extends "index.html" %}
{% load i18n %}

{% block Headline %}Create Account{% endblock %}

{% block Content %}
<h2>Create Account</h2>
<p>Please fill in the following form.</p>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form method="post" action=".">{% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input type="submit" value="{% trans "Create Account" %}" />
</form>
{% endblock %}
