{% extends "index.html" %}
{% load mumble_extras %}
{% load i18n %}

{% block Headline %}{% trans "Imprint" %}{% endblock %}

{% block Content %}
<div class="rahmen">
  <p>
    This is <a href="" target="_blank">Mumble-Django</a>, a Murmur config application for <a href="http://www.djangoproject.com/" target="_blank">Django</a> that configures a Mumble server. It is able to create and remove server instances, start/stop them, and configure them. 
    <br />
    <br />
    Furthermore, registered Django users can sign up for user accounts on the configured vservers and change their registration names and passwords, and Django admins can manage server admins through the webinterface.<br />
    <br />
    It is based on the awesome work <a href="http://bitbucket.org/Svedrin/mumble-django/" target="_blank">Mumble-Django</a> by Michael "Svedrin" Ziegler. 
    Marius "Kreolis" Anger ported it to Python3.
    <br />
    <br />
  </p>
  <p>
    <table>
      <caption>Version information</caption>
      <tr><th>Running version</th><td>{{ CURRENTVERSION }}</td></tr>
      <tr><th>Newest available version</th><td>{{ upstreamversion }}</td></tr>
    </table><br />
  </p>
  <p>
    All JavaScript elements were implemented using <a href="http://www.extjs.com/" target="_blank">the ExtJS JavaScript library.</a>
  </p>
</div>
{% endblock %}
