{% extends "index.html" %}
{% load i18n %}

{% block Headline %}Login{% endblock %}

{% block HeadTag %}
<script type="text/javascript">
	Ext.onReady(function () {
		Ext.fly("id_username").focus();
	});
</script>
{% endblock %}

{% block Content %}

<h2>Login</h2>

{% if form.errors %}
<p>Username or password don't exist or are not correct. Please try again.</p>
{% endif %}

<form method="post" action=".">{% csrf_token %}
	<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
	</table>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>
<ul>
	{% if 'django_registration' in INSTALLED_APPS %}
	<li>No Login? You can <a href="{% url 'django_registration_register' %}">sign up!</a></li>
	{% endif %}
	{% if 'allauth' in INSTALLED_APPS %}
	<li>No Login? You can <a href="{% url 'account_signup' %}">sign up!</a></li>
	{% endif %}
	<li>Forgot the password? You can <a href="{% url 'password_reset' %}">reset it!</a></li>
</ul>
{% endblock %}