{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load static %}
{% load mumble_extras %}
<div class="mumble" style="background-image: url( {% static 'mumble/img/linie_v.png' %} )">
  <img src="{% static 'mumble/img/knoten_v.png' %}" alt="" />
  {% if Channel.linked %}
  <img src="{% static 'mumble/img/channel_linked.png' %}" alt="linked channel" />
  {% else %}
  <img src="{% static 'mumble/img/channel.png' %}" alt="channel" />
  {% endif %}
  {% if Channel.server.netloc %}
  <a href="{{ Channel|chanurl:MumbleAccount }}" class="mumble" id="link_{{ Channel.id }}" title="{{ Channel.name }}">
    {{ Channel.name|trunc:30 }}
  </a>
  {% else %}
  <a class="mumble" id="link_{{ Channel.id }}" title="{{ Channel.name }}">
    {{ Channel.name|trunc:30 }}
  </a>
  {% endif %}
  {% for sub in Channel.subchans %}
  {% if sub.show %}
  {{ sub|chanview:MumbleAccount }}
  {% endif %}
  {% endfor %}
  {% for player in Channel.players %}{{ player|chanview }}{% endfor %}
</div>