{% extends "mobile_index.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load mumble_extras %}
{% block Headline %}
Configured Mumble Servers
{% endblock %}
{% if MumbleServer.is_public or IsAdmin %}
{% block LeftColumn %}
<div class="rahmen">
  <ul>
    {% for mumble in MumbleObjects %}
    {% if mumble.booted %}
    <li><a href="{% url 'serverMobileShow' mumble.id %}">{{ mumble.name }}</a></li>
    {% else %}
    <li>{{ mumble.name }} (offline)</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}