{% extends "index.html" %}
{% load static %}
{# kate: space-indent on; indent-width 4; replace-tabs on; hl Django HTML Template; #}
{% load mumble_extras %}
{% load i18n %}
{% block body %}
{% endblock %}
{% block PageTitle %}Mumble :: {{ MumbleServer.name }}{% endblock %}
{% block HeadTag %}
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'mumble/css/tab-scroller-menu.css' %}" />
<style type="text/css">
    .x-tab-tabmenu-right {
        background: transparent url({% static 'mumble/img/tab-scroller-menu.gif' %}) no-repeat 0 0;
    }
</style>
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{{ MUMBLE_DJANGO_URL }}mumble/api/api.js"></script>
<script src="{{ MUMBLE_DJANGO_URL }}mumble/forms/api.js"></script>
<script src="{{ MUMBLE_DJANGO_URL }}mumble/forms/choicescombo.js"></script>
<script src="{{ MUMBLE_DJANGO_URL }}mumble/forms/{{ RegForm|lower }}.js"></script>
<script src="{{ MUMBLE_DJANGO_URL }}mumble/forms/mumbleform.js"></script>
<script src="{% static 'mumble/js/TabScrollerMenu.js' %}"></script>
<script src="{% static 'mumble/js/channelviewer.js' %}"></script>
<script src="{% static 'mumble/js/channelviewerplugins.js' %}"></script>
<script src="{% static 'mumble/js/rendermumbleserver.js' %}"></script>
<script src="{% static 'mumble/js/usereditor.js' %}"></script>
<script src="{% static 'mumble/js/logviewer.js' %}"></script>
<script src="{% static 'mumble/js/banviewer.js' %}"></script>
<script src="{% static 'mumble/js/loginout_buttons.js' %}"></script>
<script type="text/javascript">
Ext.onReady(
function () {
    Ext.QuickTips.init();
    mainpanel = new Ext.Panel({
        renderTo: document.body,
        height: 600,
        layout: "border",
        tbar: [{
            text: "{% trans "Back to the server list" %}",
            xtype: "button",
            handler: function () {
                location.href = "{% url 'mumbles' %}";
            }
        }],
        buttons: [

            {% if user.is_staff and "rosetta" in INSTALLED_APPS %}

            {
            text: "{% trans 'Edit Translation' %}",
            url: '{% url "rosetta-home" %}',
            handler: function(){
                            window.open( this.url );
                            this.toggle( false );
                        }
            },

            {% endif %}
            {% if user.is_staff %}

            {
                text: "{% trans 'Administration' %}",
                url: '{% url "admin:mumble_mumble_change" MumbleServer.id %}',
                handler: function(){
                            window.open( this.url );
                            this.toggle( false );
                        }
            },

            {% endif %}
            {% if user.is_authenticated %}

            new Ext.ux.ButtonLogout()

            {% else %}
            {% if 'django_registration' in INSTALLED_APPS %}

            {
                text: "{% trans 'Register' %}",
                url: '{% url "django_registration_register" %}',
                handler: function(){
                            window.open( this.url );
                            this.toggle( false );
                        }
            },

            {% endif %}

            {% if 'allauth' in INSTALLED_APPS %}

            {
                text: "{% trans 'Register' %}",
                url: '{% url "account_signup" %}',
                handler: function(){
                            window.open( this.url );
                            this.toggle( false );
                        }
            },

            {% endif %}

                {% if 'allauth' in INSTALLED_APPS %}

                {
                    text: "{% trans 'Login' %}",
                    url: '{% url "account_login" %}',
                    handler: function(){
                                window.open( this.url );
                                this.toggle( false );
                            }
                },

                {% else %}

                new Ext.ux.ButtonLogin()

                {% endif %}

            {% endif %}

        ],

        {% if MumbleServer.is_public or IsAdmin %}

        items: [
            {
                xtype: "mumblechannelviewer",
                region: "west",
                width: 350,
                split: true,

                {% if UsersAboveChannels %}

                usersAboveChannels: true,

                {% endif %}

                enableDD: true,
                plugins: [
                    new Ext.ux.MumbleUserEditor({
                        serverid: {{ MumbleServer.id }},
                        is_admin: {{ IsAdmin|lower }}
                    }),
                    new Ext.ux.MumbleChannelEditor({
                        serverid: {{ MumbleServer.id }},
                        is_admin: {{ IsAdmin|lower }}
                    })
                ],
                source_url: "{% url 'servercvpJSON' MumbleServer.id %}",
                imageurl: '{% static "mumble/img" %}',
                listeners: {
                    moveUser:
                        function(tree, userdata, chandata) {
                        Mumble.moveUser({{ MumbleServer.id }}, userdata.session, chandata.id );
                        },
                    moveChannel:
                        function(tree, chandata, targetdata) {
                            Mumble.moveChannel({{ MumbleServer.id }}, chandata.id, targetdata.id );
                        }
                }
            },
            {
                xtype: "tabpanel",
                region: "center",
                activeTab: 0,
                enableTabScroll: true,
                plugins: [new Ext.ux.TabScrollerMenu()],
                items: [
                    {
                        title: "{% trans "Server info" %}",

                        {% if QRAvailable %}

                            html: ('<img src="{% url "serverQrcode" MumbleServer.id %}" ' +
                            'style="float: right" alt="QR Code for embedded view"/>' +
                            renderserverinfos({{ ServerDict|safe }})),

                        {% else %}

                            html: renderserverinfos({{ ServerDict|safe }}),

                        {% endif %}
                                    
                    },

                    {% if user.is_authenticated %}

                    {
                        title: "{% trans "Registration" %}",
                        xtype: "{{ RegForm|lower }}",
                        submitButtonText: "{% trans 'Submit' %}",
                        pk: {% if MumbleAccount %} {{ MumbleAccount.id }} {% else %} -1{% endif %},
                        labelWidth: 150,
                        baseParams: { serverid: {{ MumbleServer.id }} },

                        {% if not MumbleAccount %}

                        listeners: {
                            submitSuccess: function(form, action) {
                                window.location.reload();
                            }
                        }

                        {% else %}

                        listeners: {
                            submitSuccess: function(form, action) {
                                form.savetip = new Ext.ToolTip({
                                    id: 'content-anchor-tip',
                                    target: '{{ RegForm }}_submit',
                                    anchor: 'right',
                                    html: "{% trans "Saved successfully." %}",
                                    width: 150,
                                    autoHide: true,
                                    listeners: {
                                        hide: function (ttip) {
                                            form.savetip.destroy();
                                            form.savetip = null;
                                        }
                                    }
                                });
                                form.savetip.show();
                            }
                        }

                        {% endif %}

                    },

                    {% if IsAdmin %}

                    {
                        title: "{% trans "Administration" %}",
                        pk: {{ MumbleServer.id }},
                        labelWidth: 150,
                        xtype: 'mumbleform',
                        submitButtonText: "{% trans 'Submit' %}",
                        listeners: {
                            submitSuccess: function(form, action) {
                                form.savetip = new Ext.ToolTip({
                                    id: 'content-anchor-tip',
                                    target: 'MumbleForm_submit',
                                    anchor: 'right',
                                    html: "{% trans "Saved successfully." %}",
                                    width: 150,
                                    autoHide: true,
                                    listeners: {
                                        hide: function (ttip) {
                                            form.savetip.destroy();
                                            form.savetip = null;
                                        }
                                    }
                                });
                                form.savetip.show();
                            }
                        }
                    },

                    {% endif %}

                    {% if MumbleAccount %}

                    {
                    title: "{% trans "User texture" %}",

                    {% if MumbleServer|mmversion_eq:"1.2.2" %}

                    html: "{% trans 'Sorry, due to a bug in Murmur 1.2.2, displaying and setting the Texture is disabled.' %}"

                    {% else %}

                    layout: "border",
                        items: [
                            {
                                region: "north",
                                layout: "hbox",
                                height: 200,
                                items: [
                                    {
                                        flex: 1,
                                        height: 200,
                                        title: "{% trans "Texture" %}",
                                        html: String.format('<img src="{0}" alt="Avatar" id="img_avatar" />',
                                            "{% url 'serverUserTexture' MumbleServer.id MumbleAccount.mumbleid %}")
                                    },
                                    {
                                        flex: 1,
                                        height: 200,
                                        title: "{% trans "Gravatar" %}",
                                        html: String.format('<img src="{0}" alt="grAvatar" />', "{{ MumbleAccount.gravatar }}")
                                    }
                                ]
                            },
                            {
                                region: "center",
                                xtype: "form",
                                labelWidth: 150,
                                fileUpload: true,
                                url: "{% url 'mumbleUpdateAvatar' MumbleAccount.id %}",
                                items: [
                                    {
                                        name: "usegravatar",
                                        fieldLabel: "{% trans "Use Gravatar" %}",
                                        xtype: "checkbox"
                                    },
                                    {
                                        name: "texturefile",
                                        fieldLabel: "{% trans "Upload Avatar" %}",
                                        xtype: "textfield",
                                        inputType: "file"
                                    }
                                ],
                                buttons: [{
                                    text: "{% trans 'Submit' %}",
                                    handler: function () {
                                        this.ownerCt.ownerCt.getForm().submit({
                                            success: function (form, action) {
                                                var now = new Date();
                                                var img = Ext.fly("img_avatar");
                                                img.dom.src = String.format("{0}?_dc={1}",
                                                    "{% url 'serverUserTexture' MumbleServer.id MumbleAccount.mumbleid %}",
                                                    now.getTime()
                                                );
                                            }
                                        });
                                    }
                                }]
                            }
                        ]

                        {% endif %}

                        },

                        {% endif %}

                        {% if IsAdmin %}

                        {
                            xtype: "userEditorPanel",
                            server: {{ MumbleServer.id }}
                        }, 
                        {
                            xtype: 'logViewerPanel',
                            server: {{ MumbleServer.id }}
                        }, 
                        {
                            xtype: 'banViewerPanel',
                            server: {{ MumbleServer.id }}
                        }

                        {% endif %}

                {% endif %}

                ]
            }
        ]
        {% else %}
        items: [
            {
                region: "center",
                title: "Server not viewable",
                html: String.format('The server you want to view is not public or you do not have the rights to view it.')
            }
        ]
        {% endif %}
    });
    function updateLayout() {
        viewsize = {
            width: Ext.lib.Dom.getViewWidth(),
            height: Ext.lib.Dom.getViewHeight()
        };
        mainpanel.setHeight(viewsize.height - 20);
        mainpanel.setWidth(viewsize.width - 40);
    }

    updateLayout();

    Ext.EventManager.onWindowResize(updateLayout);
});
</script>
<style type="text/css">
    body {
        padding: 20px 20px 0 20px;
    }
</style>
{% endblock %}