{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load mumble_extras %}
{% load static %}
{% load i18n %}
<div class="mumble" style="background-image: url( {% static 'mumble/img/linie_v.png' %} )">
  <span class="mumble">
    {% if Player.isAuthed %}
    <img src="{% static 'mumble/img/authenticated.png' %}" alt="authed" title="{% trans "Authenticated" %}" />
    {% endif %}
    {% if Player.mute %}
    <img src="{% static 'mumble/img/muted_server.png' %}" alt="muted" title="{% trans "Muted" %}" />
    {% endif %}
    {% if Player.suppress %}
    <img src="{% static 'mumble/img/muted_suppressed.png' %}" alt="muted" title="{% trans "Suppressed" %}" />
    {% endif %}
    {% if Player.deaf %}
    <img src="{% static 'mumble/img/deafened_server.png' %}" alt="deafened" title="{% trans "Deafened" %}" />
    {% endif %}
    {% if Player.selfMute %}
    <img src="{% static 'mumble/img/muted_self.png' %}" alt="self-muted" title="{% trans "Muted by self" %}" />
    {% endif %}
    {% if Player.selfDeaf %}
    <img src="{% static 'mumble/img/deafened_self.png' %}" alt="self-deafened" title="{% trans "Deafened by self" %}" />
    {% endif %}
    {% if Player.hasComment %}
    <img src="{% static 'mumble/img/comment.png' %}" alt="has comment" title="{% trans "has a User Comment set" %}" />
    {% endif %}
  </span>
  <span>
    <img src="{% static 'mumble/img/knoten_v.png' %}" alt="" />
    {% if Player.isTalking %}
    <img src="{% static 'mumble/img/talking_on.png' %}" alt="Player" />
    {% else %}
    <img src="{% static 'mumble/img/talking_off.png' %}" alt="Player" />
    {% endif %}
    <a id="link_{{ Player.id }}" class="mumble" href="#" title="{{ Player.name }}">{{ Player.name|trunc:30 }}</a>
  </span>
</div>