{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load mumble_extras %}
{% load static %}
<div style="margin-left: 20px;">
  <img src="{% static 'mumble/img/mumble.16x16.png' %}" alt="server" />
  <a class="mumble" id="link_server" href="{{ Server|chanurl:MumbleAccount }}">{{ Server.name|trunc:30 }}</a>
</div>
{% for sub in Server.rootchan.subchans %}
{% if sub.show %}
{{ sub|chanview:MumbleAccount }}
{% endif %}
{% endfor %}
{% for player in Server.rootchan.players %}{{ player|chanview }}{% endfor %}