{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Mumble Administration</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- for iphone/ipod -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="{% static 'mumble/img/mumble.64x64.png' %}" />

    <link rel="stylesheet"    type="text/css"  href="{% static 'style.css' %}" />
    <link rel="stylesheet"    type="text/css"  href="{% static 'templatestyle.css' %}" />
    <link rel="stylesheet"    type="text/css"  href="{% static 'mumble/css/style.css' %}"  />
    <link rel="shortcut icon" type="image/png" href="{% static '/img/mumble.16x16.png' %}" />

    {% block HeadTag %}
    {% endblock %}
  </head>
  <body bgcolor="#3B69AD">
    <div id="mobilecontent">
        {% block LeftColumn %}
        {% endblock %}
    </div>
    <!-- footer -->
    <div id="footerpanel" style="color:white">
      <ul>
        <li><a href="{% url 'mumble_redir' %}" style="color:white">Home</a></li>
        <li><a href="" style="color:white" target="_blank">Mumble-Django {{ CURRENTVERSION }}</a></li>
      </ul>
    </div>
  </body>
</html>
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
